*{
    margin: 0;
    padding: 0;

    @font-face {
        font-family: montserrat;
        src: url('../assets/font/montserrat.ttf');
    }
}

body{
    font-family: montserrat;
}

/* Awal Section 1 */

section.landing{
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 350px;
    background-color:rgb(255, 213, 213);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(1,28,39);
}

section.landing img{
    width: 500px;
    height: 300px;
}

section.landing .content h1{
    font-size: 40px;
    margin-bottom: 50px;
}

section.landing .content a{
    display: block;
    padding: 20px 20px;
    background-color: rgb(1,28,39);
    text-decoration: none;
    color: white;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

section.landing .content a:hover{
    background-color: rgb(30, 121, 53);
}

/* Akhir Section 1 */

/* Awal extracurricular */

section.extracurricular{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

section.extracurricular h2{
    margin-bottom: 50px;
}

section.extracurricular .list{
    display: flex;
    flex-wrap: wrap;
}

section.extracurricular .list .card img{
    width: 200px;
    height: 200px;
}

section.extracurricular .list .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    text-align: center;
    margin: 10px;
}

section.extracurricular .list .card .container{
    padding: 10px;
}

section.extracurricular .list .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.extracurricular a{
    display: block;
    padding: 20px 30px;
    background-color: rgb(255, 96, 5);
    text-decoration: none;
    color: white;
    margin-top: 50px;
    border-radius: 20px;
}

section.extracurricular a:hover{
    background-color: rgb(1,28,39);
}

/* Akhir extracurricular */

/* Awal news */

section.news{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(255, 213, 213);
}

section.news h2{
    margin-bottom: 50px;
}

section.news .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

section.news img{
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

section.news dt{
    font-weight: bold;
    font-size: 20px;
}

section.news dd{
    margin-bottom: 20px;
}

/* Akhir news */

/* Awal teacher */

section.teacher{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

section.teacher h2{
    margin-bottom: 50px;
}

section.teacher .list{
    display: flex;
    flex-wrap: wrap;
}

section.teacher .list .card img{
    width: 150px;
    border-radius: 50%;
}

section.teacher .list .card{
    width: 200px;
    text-align: center;
    margin: 10px;
}

section.teacher .list .card .container{
    padding: 10px;
}

section.teacher a{
    display: block;
    padding: 20px 30px;
    background-color: rgb(255, 96, 5);
    text-decoration: none;
    color: white;
    margin-top: 50px;
    border-radius: 20px;
}

section.teacher a:hover{
    background-color: rgb(1,28,39);
}

/* Akhir teacher */


/* Media max 500px */
@media screen and (max-width: 576px) {

    /* column */
    .column {
        width: 100%;
    }
    /* Akhir Navbar */

    /* Awal landing */

    section.landing .content{
        margin-top: 50px;
    }

    /* Akhir landing */

    section.extracurricular .list, section.teacher .list {
        justify-content: center;
    }

}