*{
    margin: 0;
    padding: 0;

    @font-face {
        font-family: montserrat;
        src: url('../assets/font/montserrat.ttf');
    }
}

body{
    background-color: rgb(255, 213, 213);
    font-family: montserrat;
}

header{
    padding:20px;
    min-height: 100px;
    text-align: center;
}

h1{
    margin: 20px;
    text-align: center;
    font-weight: 300;
}

form{
    width: 350px;
    height: 220px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

form input[type=text], form input[type=password] , form button[type=submit]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form button[type=submit]{
    background-color: rgb(255, 96, 5);
    border: none;
    color: white;
}

form button[type=submit]:hover{
    background-color: rgb(1,28,39);
}

footer{
    background-color: rgb(255, 255, 255);
    height: 50px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    margin-top: 100px;
}

footer p{
    font-weight: bold;
    padding-top: 15px;
}