* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #2284c5;
}

.form{
    width: 350px;
    height: 340px;
    margin: 150px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form h1{
    text-align: center;
    color: rgb(88, 88, 88);
    font-family: Calibri;
    font-weight: 500;
    margin-bottom: 30px;
}

.form hr{
    opacity: 0.5;
    margin-bottom: 30px;
}

.form input[type=text], .form input[type=password] , .form button[type=submit]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form button[type=submit]{
    background-color: #2284c5;
    border: none;
    color: white;
}

.form button[type=submit]:hover{
    background-color: #30c43c;
}

/* 
    The box-sizing property allows us to include the padding and border 
    in an element's total width and height.
*/